<div class="tab-content active" id="personnel-content">
    <div class="content-header">
        <div class="content-title">人员资料管理</div>
    </div>
    
    <div class="search-box">
        <div class="search-form">
            <div class="search-field">
                <label class="search-label">姓名</label>
                <input type="text" class="search-input" id="personnel-name" placeholder="请输入姓名">
            </div>
            <button class="search-button" id="search-personnel">搜索</button>
        </div>
    </div>
    
    <div class="results-area" id="personnel-results">
        <div class="no-results">请输入姓名进行搜索</div>
    </div>
</div>