<div class="tab-content" id="traffic-content">
    <div class="content-header">
        <div class="content-title">交通信息管理</div>
    </div>
    
    <div class="search-box">
        <div class="search-form">
            <div class="search-field">
                <label class="search-label">车牌号</label>
                <input type="text" class="search-input" id="traffic-plate" placeholder="请输入车牌号">
            </div>
            <button class="search-button" id="search-traffic">搜索</button>
        </div>
    </div>
    
    <div class="results-area" id="traffic-results">
        <div class="no-results">请输入车牌号进行搜索</div>
    </div>
</div>